body {
    background-color: #ccc;
}

div{
    font-size: 50px;
    width: 300px; height: 300px;
    position: absolute;
    animation: slide 4s;
}

span{
    font-size: 50px;
    position: absolute;
    left: -100px;
    animation: love 4s;
    
   
}


@keyframes slide {
    0% {
        left: -300px;
        top: 100px;
       
    }
    30% {
        left: 200px;
        top: 500px;
       
    }
    50% {
        left: 300px;
        top: 200px;
    }
    70% {
        left: 400px;
        top: 400px;
    }
    100% {
        left: 500px;
        top: 300px;
    }
}

@keyframes love {
    0% {
        left: 100px;
        top: 100px;
        
    }
    30% {
        left: 700px;
        top: 100px;
    }
    50% {
        left: 300px;
        top: 100px;
    }
    70% {
        left: 500px;
        top: 100px;
    }
    100% {
        left: 400px;
        top: 100px;
        
    }
}