*{
    margin: 0; padding: 0;box-sizing: border-box;
}

body{
    background-color: #d8edff;
}

.wrap{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.icon {
    width: 40%; height: 40%;
}

.bold{
    font-size: 2rem; font-weight: bold;
    margin-bottom: 15px;
}

.thin {
    font-size: 1.5rem;
}

#typing {
    position: relative;
    display: inline-block;
}

#typing::after{
    content: '';
    display: block;
    position: absolute; top: 0; right: -10px;
    width: 3px; height: 100%;
    background-color: black;
}

#typing.active::after{
    display: none;
}